.appstores a.appstorebutton {
    display: inline-block;
    width: 160px;
    margin: 0 1rem 10px;
    border: 3px solid #5c77ff;
    border-radius: 13px;
    transition: all .15s ease-out;
}
div.appstores a.appstorebutton img {
    max-width: 100%;
}